@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0c111b;
  color: #fff;
}

img {
  max-width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 56px;
  padding-right: 56px;
  max-width: 1920px;
}

.d-block {
  display: block;
}

.flex {
  display: flex;
}

.f-jcc {
  justify-content: center;
}

.f-jcsb {
  justify-content: space-between;
}

.f-aic {
  align-items: center;
}

.page-404 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 60px 0;
}

.page-404 h1 {
  margin-bottom: 15px;
}

.Navbar {
  background-color: #263f61;
  padding-top: 14px;
  padding-bottom: 12px;
}

.Navbar .nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar .logo {
  width: 155px;
}

.Login {
  padding: 89px 0;
  font-family: "Roboto", sans-serif;
}

.Login h1 {
  color: #263238;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 10px;
}

.login-box {
  background-color: #fff;
  border-radius: 16px;
  max-width: 552px;
  margin-left: auto;
  margin-right: auto;
  padding: 32px 32px 45px;
}

.login-box .instruction {
  color: #546e7a;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 27px;
}

.login-box input {
  height: 61px;
  width: 100%;
  padding: 0 16px;
  border-radius: 16px;
  border: 1px solid #c4c4c4;
  outline: 0px solid #ff7d65;
  transition-property: outline;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.login-box input:focus {
  outline: 2px solid #ff7d65;
}

.login-box .input-wrap {
  position: relative;
}

.login-box .input-and-error-wrap {
  margin-bottom: 19px;
}

.login-box .error-text {
  color: #da5959;
  font-size: 14px;
  margin-top: 5px;
  padding: 0 5px;
}

.login-box .floating-placeholder {
  color: #546e7a;
  font-size: 14px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 16px;
  display: inline-block;
  background-color: #fff;
  padding: 0 3px;
  transition-property: transform, left, top, color, font-size;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  cursor: text;
}

.login-box .floating-placeholder.floated {
  top: -6px;
  transform: translate(0);
  font-size: 11px;
  color: #ff7d65;
}

.login-box .login-button {
  font-size: 14px;
  background-color: #ff7d65;
  border: 0;
  color: #fff;
  width: 100%;
  padding: 13px;
  border-radius: 16px;
  cursor: pointer;
  margin-top: 5px;
  position: relative;
}

.button-loader-wrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.button-loader-wrap .button-loader {
  color: #fff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #ffffff #fff0 #ffffff #ffffff;
  animation-name: rotate-loader;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.login-box button:hover {
  background-color: #ff6d53;
}

.search-form input {
  border: solid #ffffff42;
  border-width: 1px 0 1px 1px;
  background-color: #ffffff0f;
  border-radius: 5px 0 0 5px;
  padding: 0 0 0 8px;
  font-size: 16px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  outline: 0;
}

.search-form {
  margin-right: 40px;
}

.search-form input::placeholder {
  color: #fff;
}

.search-form .search-icon {
  padding: 0 8px;
  height: 100%;
  width: 48px;
  border: 0;
  border-radius: 0 5px 5px 0;
  background-image: linear-gradient(#ff9966, #ff5e62);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: text;
  position: relative;
}

.search-form .search-icon .button-loader-wrap {
  left: 50%;
  right: auto;
  transform: translate(-50%, -50%);
}

.search-and-logout {
  height: 44px;
}

.nav-wrap .logout-button {
  border: 0;
  background-color: #0000;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.nav-wrap .logout-button .button-loader-wrap {
  left: 50%;
  transform: translate(-50%, -50%);
  right: auto;
}

.search-and-logout .logout-button:hover {
  background-color: #0002;
}

.Movies .banner {
  padding-bottom: 20.46%;
}

.movies-wrapper {
  padding: 56px 0 114px;
}

.MovieCard {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  scale: 1;
  transition-property: scale;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.MovieCard:hover {
  scale: 1.05;
}

.MovieCard .movie-details {
  flex-grow: 1;
  background-image: linear-gradient(#2b507c, #1a2b4a);
  padding: 10px 23px 11px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movies-wrapper h1 {
  font-size: 28px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 32px;
}

.MovieCard h2 {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.375;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MovieCard .title-and-rating {
  max-width: calc(100% - 40px);
}

.movies-wrapper .row {
  margin-bottom: -32px;
}

.movies-wrapper .col-3 {
  margin-bottom: 32px;
}

.MovieCard .play-button {
  width: 32px;
  height: 32px;
}

.Pagination {
  margin-top: 52px;
  display: flex;
  justify-content: center;
  margin-right: -10px;
  flex-wrap: wrap;
}

.Pagination button {
  height: 28px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  font-family: "Roboto", sans-serif;
  color: #ffffff99;
  margin-right: 10px;
  background: none;
  border: 0;
  cursor: pointer;
}

.Pagination span {
  padding: 0;
  color: #ffffff99;
  display: block;
  margin-right: 10px;
}

.Pagination .pre-next {
  width: 28px;
  padding: 0;
}

.Pagination button.active {
  color: #ff6a63;
  text-decoration: underline;
}

.Pagination button:hover {
  background-color: #fff2;
}

.movie-details-wrap {
  padding: 61px 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.movie-details-master {
  background-size: cover;
  background-position: center center, right center;
  background-repeat: no-repeat;
  min-height: calc(100vh - 70px);
}

.movie-details-wrap > .flex > div {
  width: 50%;
}

.movie-details-wrap .right {
  display: flex;
  justify-content: center;
}

.movie-details-wrap .right button {
  background: none;
  border: 0;
  scale: 1;
  cursor: pointer;
  transition-property: scale;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.movie-details-wrap .right button:hover {
  scale: 1.2;
}

.MovieDetails .back-button {
  height: 32px;
  width: 32px;
  border-radius: 0;
  border: 0;
  background: no-repeat;
  margin-bottom: 35px;
  cursor: pointer;
}

.MovieDetails h1 {
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 12px;
}

.MovieDetails .rating {
  font-size: 16px;
  margin-bottom: 12px;
}

.MovieDetails .summary {
  font-size: 20px;
  color: #ffffffbf;
  line-height: 1.5203;
  margin-bottom: 15px;
}

.MovieDetails table tr > * {
  font-weight: 400;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: top;
}

.MovieDetails table tr th {
  padding-right: 10px;
}

.VideoModal {
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e171ee6;
}

.VideoModal .modal-wrap {
  width: 100%;
  max-width: 600px;
}

.VideoModal .header {
  text-align: right;
}

.VideoModal .player-wrap {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.VideoModal .player {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.VideoModal .header button {
  height: 30px;
  width: 30px;
  background-color: #0000;
  border: 0;
  cursor: pointer;
}

.loader-wrap {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.loader-wrap .loader {
  color: #fff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 5px solid;
  border-color: #ff5e62 #fff0 #ff5e62 #ff5e62;
  animation-name: rotate-loader;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate-loader {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

p.gen-text {
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.col-3 {
  width: 25%;
  max-width: 25%;
  padding-left: 8px;
  padding-right: 8px;
}

.movie-backdrop-mobile {
  padding-bottom: 56.25%;
}

.movie-backdrop-mobile-wrap {
  display: none;
  position: relative;
}

.logout-mobile {
  display: none;
}
@media (max-width: 1199.98px) {
  .login-box input {
    height: 55px;
  }

  .movies-wrapper h1 {
    margin-bottom: 20px;
  }

  .movies-wrapper {
    padding: 56px 0 70px;
  }

  .movies-wrapper {
    padding: 56px 0 70px;
  }

  .MovieDetails h1 {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 12px;
  }

  .mobile-play-btn {
    padding: 0;
    border: 0;
    background: none;
    position: absolute;
    right: 19px;
    height: 50px;
    width: 50px;
    bottom: -25px;
  }

  .VideoModal {
    align-items: start;
    padding-top: 28.64px;
  }
}

@media (max-width: 991.98px) {
  .col-3 {
    width: 33.33%;
    max-width: 33.33%;
  }

  .login-box input {
    height: 50px;
  }

  .search-form {
    margin-right: 10px;
  }

  .search-form input {
    width: 250px;
  }

  .Movies .banner {
    padding-bottom: 30%;
  }

  .MovieDetails h1 {
    font-size: 35px;
  }
}

@media (max-width: 767.98px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .col-3 {
    width: 50%;
    max-width: 50%;
  }

  .login-box input {
    height: 45px;
  }

  .login-box {
    padding: 32px 20px 45px;
  }

  .login-box .instruction {
    margin-bottom: 20px;
  }

  .Login h1 {
    font-size: 23px;
    margin-bottom: 5px;
  }

  .Login {
    padding: 30px 0;
  }

  .Navbar .nav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .search-and-logout .logout-button {
    display: none;
  }

  .search-and-logout .search-form {
    margin-right: 0;
  }

  .search-and-logout {
    width: 100%;
  }

  .search-form .search-icon {
    width: 32px;
  }

  .search-form input {
    width: calc(100% - 32px);
    font-size: 14px;
  }

  .search-and-logout .search-form {
    height: 32px;
    width: 100%;
    margin-top: 7px;
  }

  .search-and-logout {
    height: auto;
  }

  .Navbar .logo {
    width: 110px;
  }

  .Movies .banner {
    padding-bottom: 31.73%;
  }

  .movie-backdrop-mobile-wrap {
    display: block;
  }

  .movie-details-wrap .back-button {
    display: none;
  }

  .movie-backdrop-mobile-wrap .back-button {
    position: absolute;
    left: 15px;
    top: 15px;
  }

  .movie-details-wrap .right {
    display: none;
  }

  .movie-details-wrap > .flex > .left {
    width: 100%;
  }

  .movie-details-master {
    background-color: #0c111b;
    background-image: none !important;
  }

  .MovieDetails h1 {
    font-size: 24px;
  }

  .MovieDetails .summary {
    font-size: 16px;
  }

  .MovieDetails table tr > * {
    font-size: 14px;
    line-height: 1.5;
    padding: 3px 0;
  }

  .logout-mobile {
    display: block;
  }

  .nav-wrap .logout-button {
    padding: 0;
    font-size: 14px;
  }

  .movies-wrapper h1 {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .movies-wrapper {
    padding: 40px 0;
  }

  .Pagination {
    margin-top: 30px;
    margin-right: 0px;
  }

  .Pagination .pre-next {
    width: 20px;
  }

  .Pagination button {
    margin-right: 0;
    padding: 0 6px;
    height: 20px;
    font-size: 13px;
  }

  .Pagination span {
    margin-right: 0;
  }

  .Pagination .pre-next img {
    width: 40%;
  }
}

@media (max-width: 575.98px) {
  .col-3 {
    width: 100%;
    max-width: 100%;
  }
}